/* styling main container */
.flex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
}

/* styling map */
.leaflet-container {
  flex: 1 1 100vh;
  z-index: 1;
}

.leaflet-marker-icon {
  height: 5vh;
}

/* styling user panel */
.user-panel {
  background-color: rgb(117, 183, 209);
  width: 330px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex: 1 1;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 1.5%;
  transform: translateX(-50%);
  padding: 0.5em;
  border-radius: 10px;
}

.flex-dir-column {
  flex-direction: column;
}

.form-control {
  font-size: small;
  font-weight: inherit;
}

.flex-dir-row {
  display: flex;
  gap: 8px;
  align-items: stretch;
}

.flex-container .btn {
  display: inline-flex;
  align-items: center;
}

.btn-group {
  margin-bottom: 0px;
}

/* styling calendar in user panel */
.react-datepicker__input-container {
  height: 100%;
}

div.react-datepicker__input-container,
.react-datepicker__input-container input,
div.react-datepicker-wrapper {
  width: 100%;
}

div.react-datepicker-wrapper {
  margin-top: 8px;
}

.calendar {
  border-width: 0px;
  margin-left: 0px;
  font-size: large;
  height: 100%;
  border-radius: 10px;
}

/* styling weather details */
.day > * {
  margin: 0;
}

/* .weather-details-old {
  display: flex;
  gap: 2em;
  position: absolute;
  bottom: 3%;
  left: 50%;
  max-width: 100%;
  overflow: scroll;
  z-index: 2;
  background-color: rgb(117, 183, 209, 0.6);
  transform: translateX(-50%);
} */

.weatherTable {
  display: flex;
  position: absolute;
  bottom: 3%;
  left: 50%;
  max-width: 100%;
  max-height: 30%;
  z-index: 2;
  transform: translateX(-50%);
}

.weatherTable th,
.weatherTable td {
  vertical-align: top;
  white-space: nowrap;
}

/* .inline-image {
  width: 10px;
} */

table.table td,
table.table th {
  background-color: rgb(117, 183, 209);
}

table.table .highlighted {
  background-color: rgb(187, 117, 33);
}

table.table p {
  margin: 0px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.sticky-col {
  position: sticky;
  left: 0;
}
